<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Lego.Ev3.BrickManager.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Lego.Ev3.BrickManager.Properties.Settings>
            <setting name="Mode" serializeAs="String">
                <value>BASIC</value>
            </setting>
            <setting name="LocalMachinePath" serializeAs="String">
                <value />
            </setting>
        </Lego.Ev3.BrickManager.Properties.Settings>
    </userSettings>
</configuration>